@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&family=Montserrat:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Monserrat, sans-serif;
    font-weight: 300;
    margin: 0;
    border: 0;
    padding: 0;

}

h2 {
    font-family: Molle, cursive;
}

/* header */

header {
    background-color: #fff7f3;
    padding-top: 10px;
}

.right {
    float: right;
}

#logo {
    font-family: Molle, cursive;
    color: #5c0b1d;
    font-size: 300%;
    margin-left: 20px;
    line-height: 75px;
    padding-top: 3px;
}

#logo, a {
    text-decoration: none;
}
/* nav menu */

.left {
    float: left;
}

#menu {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    text-align: left;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    border: solid 1px #5c0b1d;
    color: #5c0b1d;
    padding: 10px;
    font-weight: 400;
}

#menu li a:hover {
    background-color: #5c0b1d;
    color: #fff7f3;
}

.clear {
    clear: both;
}

/* About section */

#about {
    height: 800px;
    width: 100%;
    background-color: #fff7f3;
    background-size: contain;
}

#about-left {
    width: 50%;
    height: 800px;
    float: left;
    box-sizing: border-box;
}

#paintbrush {
    width: 520px;
    height: 700px;
    overflow: hidden;
    margin: 50px 0 0 50px;
}

#about-right-top {
    width: 50%;
    height: 500px;
    /*background-color: #fff7f3;*/
    float: right;
    box-sizing: border-box;
}

#about-heading {
    color: #5c0b1d;
    font-size: 350%;
    padding-top: 112px;
    text-align: center;
}

.about-p {
    color: #5c0b1d;
    width: 65%;
    height: auto;
    text-align: justify;
    margin: 0 100px;
    clear: right;
}

#about-right-bottom {
    width: 50%;
    height: 300px;
    float: right;
    /*background-color: #fff7f3;*/
    margin: 0 auto;
    box-sizing: border-box;
}

#list-heading {
    margin: 0 130px 0 120px;
    padding: 5px 0 5px 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: #5c0b1d;
    border: 3px solid #5c0b1d;
    border-bottom: none;
}

#pros-list {
    border: 3px solid #5c0b1d;
    margin: 0 130px 0 120px;
    border-top: none;
    padding: 0 0 5px 5px;
}

#pros-list li {
    margin-left: 20px;
    font-size: 120%;
    font-weight: 400;
    color: #5c0b1d;
}

/* Quote section */

#quote {
    height: 150px;
    background-color: #5c0b1d;
    margin-top: 0;
}

.text-quote {
    text-align: center;
    color: #fff7f3;
}

#the-quote {
    margin: 0 auto;
    padding-top: 40px;
    font-family: Molle, cursive;
    font-size: 300%;
}

#by-someone {
    margin: 0 auto;
    font-style: italic;
}

/* When section */

#when {
    height: 500px;
    background-color: #fff7f3;
}

#when-left {
    width: 40%;
    float: left;
}

#when-left h2 {
    font-size: 500%;
    color: #5c0b1d;
    text-align: right;
    margin: 200px 50px 0 100px;
    width: 300px;
}

#when-right {
    width: 60%;
    background-color: #fff7f3;
    float: right;
}

/* Table */

table {
    color: #5c0b1d;
    width: 75%;
    height: 350px;
    margin: 75px 0 75px 20px;
    border-collapse: collapse;
}

table, th, tr, td {
    border: 2px solid #5c0b1d;
}

td {
    text-align: center;
    padding: 3px;
}

.info {
    text-align: left;
    padding-left: 5px;
}

/* Where and Map*/

.where {
    height: 500px;
}

#where-right {
    background-color: #5c0b1d;
    width: 40%;
    height: 500px;
    margin-top: 0;
    float: right;
    box-sizing: border-box;
}

#where-right h2 {
    font-size: 250%;
    color: #fff7f3;
    margin: 170px 0 0 40px;
}

#where-right p {
    color: #fff7f3;
    font-weight: 300;
    margin-left: 40px;
}

#where-left {
    background-color: #5c0b1d;
    width: 60%;
    height: 500px;
    float: left;
    box-sizing: border-box;
}

iframe {
    border: 3px solid #5c0b1d;
    margin: 50px;
}

#map {
    width: 80%;
    height: 400px;
    border: 0;
}

/* Footer */

footer {
    height: 100px;
    background-color: #fff7f3;
    clear: both;
}

.social-media {
    font-size: 350%;
    float: right;
    margin-top: 20px;
    margin-left: 20px;
}

.social-media a {
    color: #5c0b1d;
    letter-spacing: 50px;
}

.contact {
    float: left;
    margin: 15px 0 0px 70px;
}

.contact p {
    margin-left: 10px;
    text-align: left;
    color: #5c0b1d;
}

.contact h2 {
    font-size: 150%;
    text-align: center;
    color: #5c0b1d;
}

/* gallery */

#gallery-top {
    width: 100%;
    height: 650px;
    background-color: #fff7f3;
}

#info-gallery {
    width: 50%;
    height: 250px;
    box-sizing: border-box;
    /*display: flex;
    flex-direction: column;*/
    padding-top: 200px;
    float: right;
}

#gallery-head {
    color: #5c0b1d;
    font-size: 750%;
    margin: 0 auto;
}

#gallery-text {
    color: #5c0b1d;
    font-family: Molle, cursive;
    margin: 0 auto;
    padding-left: 20px;
}

#big-img {
    width: 50%;
    height: 600px;
    box-sizing: border-box;
    padding: 5px 30px 5px 5px;
    float: left;
    /*display: flex;
    flex-direction: row-reverse;*/
}

#big-img img {
    width: 400px;
    height: 550px;
    padding: 30px 0 0 150px;
}

.gallery-section {
    height: auto;
    background-color: #fff7f3;
}

.gallery {
    /*width: 32%;
    float: left;
    margin: 5px;*/
    column-count: 3;
    width: 90%;
    height: 1080px;
    margin: 0 auto;
    padding-left: 40px;
}

.gallery img {
    width: 300px;
    height: 500px;
    padding-left: 10px;
    object-fit: contain;
}

/*.clearfix::after {
  content: "";
  clear: both;
  display: block;
}*/

/* Sign Up form Section */
#signup {
    width: 100%;
    height: 650px;
    background-color: #fff7f3;
}

/* Heading and list */
.sign-up-left {
    width: 40%;
    height: 650px;
    color: #5c0b1d;
    margin: 0;
    float: left;
    box-sizing: border-box;
}

.sign-up-left h2 {
    font-size: 250%;
    margin-top: 0;
    text-align: center;
    padding-top: 175px;
}

.perks-list {
    margin-left: 130px;

}

.perks-list li {
    padding-top: 3px;
    margin-left: 20px;
}

/* The Sign up form */
#section-form {
    width: 60%;
    height: 650px;
    float: right;
    box-sizing: border-box;
    background-color: #fff7f3;
}

.signup-form {
    max-width: 500px;
    height: 300px;
    border: 2px solid #5c0b1d;
    padding: 30px;
    background-color: #fff7f3;
    margin: 80px 0 0 60px;
}

.signup-form h2 {
    font-size: 175%;
    text-align: center;
    padding-bottom: 10px;
    color: #5c0b1d;
}

.input-value {
    width: 100%;
    height: 30px;
    background: transparent;
    border: 1px solid #5c0b1d;
    padding: 5px;
    margin-bottom: 10px;
}

.input-value:hover {
    background: #b26f6c;
}

.signup-form label {
    color: #5c0b1d;
    font-size: 120%;
}

.button {
    font-family: Molle, cursive;
    text-decoration: none;
    border: solid 1px #5c0b1d;
    background-color: #5c0b1d;
    color: #fff7f3;
    padding: 10px;
    font-weight: 400;
    margin: 5px 0 0 217px;
}

.button:hover {
    color: #5c0b1d;
    background-color: #b26f6c;
}

/* Media queries */
/* For larger to medium screen size from 1200px and down*/

@media screen and (max-width: 1200px) {
    header {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }    

    #logo, #menu {
        width: 100%;
        float: left;
        padding-left: 10px;
        text-align: center;
    }
  /* About section */
    #about {
        width: 100%;
        height: 1600px;
        margin: 0 auto;
    }

    #about-left {
        width: 100%;
        float: left;
        margin: 0 auto;
        text-align: center;
    } 
    
    #about-right-top, #about-right-bottom {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0 auto;
    }

    #about-right-top p {
        padding-left: 70px;
    }
   /* Quote section */
    #quote {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    .text-quote {
        width: 100%;
        float: left;
        padding-top: 20px;
        margin: 0 auto;
    }
   
   /* When section */ 
    #when {
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }

    #when-left, #when-right {
        width: 100%;
        float: left;
        padding: 0;
    }

    #when-left h2{
        width: 100%;
        float: left;
        padding: 0;
        margin: 70px auto;
        text-align: center;
    }

    table {
        width: 70%;
        float: left;
        padding: 0;
        margin: 0 0 50px 140px;
    }

   /* Where section */ 
    .where {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    #where-right, #where-left {
        width: 100%;
        height: fit-content;
        float: left;
        padding: 0;
        margin: 0 auto;
    }

    #where-right h2 {
        text-align: center;
        margin: 100px 0 0 0;
    }

    #where-right p {
        text-align: justify;
        margin-left: 350px;
    }

    #map {
        width: 80%;
        padding: 50px 70px 50px 100px;  
        margin: 0;

    }

   /* Gallery */ 
    #gallery-top {
        width: 100%;
        height: 900px;
        margin: 0 auto;
    }

    #info-gallery, #big-img {
        width: 100%;
        float: left;
        padding: 0;
        text-align: center;
    }

    #big-img img{
        padding: 0;
        text-align: center;
    }

    .gallery-section {
        width: 100%;
        height: auto;
        float: left;
        margin: 0 auto;
    }

    .gallery {
        width: 80%;
        height: auto;
        padding-left: 70px;
        column-count: 2;
    }

   /* Sign Up */ 
    #signup {
        width: 100%;
        height: 800px;
        margin: 0 auto;
    }
    
    .sign-up-left, #section-form {
        width: 100%;
        height: auto;
        float: left;
        padding: 0;
    }

    .sign-up-left h2 {
        padding: 50px 0 20px 0;
        text-align: center;
    }

    .sign-up-left h3 {
        margin: 0 30px 0 0;
        text-align: center;
    }

    .perks-list {
        margin-left: 350px;
    }

    .signup-form {
        margin: 100px 80px 80px 230px;
    }

   /* Footer */
    footer {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    .social-media, .contact {
        width: 100%;
        float: left;
        padding-top: 20px;
        margin: 0 auto;
        text-align: center;
    }

    .contact p {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

}

/* Media queries */
/* For medium to small screen size from 768px and down*/
@media screen and (max-width: 768px) {

  /* About section */
    #paintbrush {
        margin: 0;
    }

    #about-right-top p {
        padding-left: 30px;
    }

    /* Quote section */
    #quote {
        height: 250px;
    }
    
    #the-quote {
        width: 90%;
    }

    /* Gallery */
    #gallery-top {
        height: 800px;
    }

    #info-gallery {
        height: 200px;
    }

    .gallery {
        padding: 0;
    }
    
    /* Sign Up */
    .perks-list {
        margin-left: 200px;
    }
    
    .signup-form {
        margin: 100px 80px 80px 100px;
    }
}

/* Media queries */
/* For small screen size from 425px and down*/

@media screen and (max-width: 430px) {
    header {
        height: 250px;
        margin: 0;
        width: 100%;
    }

    #logo {
        font-size: 250%;
    }

   /* About section */ 
    
   #about {
       height: 1500px;
       margin: 0;
   }
   #about-top {
        height: 600px;
    }   

    #paintbrush {
        width: 425px;
        height: 600px;
        margin: 0 auto;
        object-fit: cover;
    }

    #paintbrush img {
        width: 400px;
        height: 550px;
        margin: 0 auto;
        object-fit: cover;
    }

    #about-heading {
        text-align: center;
        padding-top: 30px;
    }

    #about-right-bottom {
        height: 200px;
    }

    .about-p {
        margin: auto 15px;
        width: 80%;
    }

    #list-heading, #pros-list {
        margin: 0 20px;
    }

    /* Quote Section */
    #the-quote {
        padding-top: 0;
    } 

    /* When Section */
    #when {
        height: 650px;
    }

    table {
        margin-left: 70px;
    }

    /* Where section */

    #where-right h2 {
        margin: 60px 0 10px 0;
    }
    #where-right p {
        margin: 0 0 10px 120px;
    }

    #map {
        padding: 50px 40px 50px 43px;
    }

    /* Gallery */

    #info-gallery h2 {
        font-size: 600%;
        text-align: center;
    }

    .gallery {
        column-count: 1;
        padding-left: 30px;
    }

    /* Sign Up */
    #signup {
        height: 600px;
    }

    .sign-up-left h2 {
        padding: 0 20px;
    }

    .sign-up-left h3 {
        margin: 0 3px 0 0;
    }

    .perks-list {
        margin-left: 60px;
    }

    .signup-form {
        width: 70%;
        margin: 30px auto;
    }

    .button {
        margin-left: 110px;
    }

    /* Footer */
    .social-media {
        width: 80%;
        text-align: center;
        margin-left: 67px;
    }

}

/* Media queries */
/* For small screen size from 320px and down*/
@media screen and (max-width: 320px) {

/* Header */
    #logo {
        padding: 3px 0 0 0;
    }

/* About Section */
    #about {
        height: 1250px;
    }

    #about-left {
        height: 550px;
    }
   
    #paintbrush {
        width: 320px;
        height: 525px;
        margin: 0 auto;
        object-fit: cover;
    }

    #paintbrush img {
        width: 300px;
        height: 450px;
        margin: 0 auto;
        object-fit: cover;
    }

    .about-p {
        padding-left: 20px;
    }

/* Quote Section */
    #quote {
        height: 360px;
    }

/* When Section */
    table {
        margin: 0 0 50px 50px;
    }

/* Where Section */
    #where-right p {
        margin: 0 0 10px 65px;
    }

    footer {
        height: 250px;
    }

/* Gallery */ 
    #gallery-top {
        height: 700px;
    }

    #info-gallery h2 {
        font-size: 450%;
    }

    #big-img {
        height: 500px;
    }

    #big-img img {
        width: 300px;
        height: 450px;
        margin: 0 auto;
        object-fit: cover;
    }

    .gallery {
        margin: 0 0 0 20px;
        padding: 0 0;
    }

    .gallery img {
        height: 480px;
        width: 280px;
        object-fit: contain;
        margin: 0;
        padding: 0;
    }

}