@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&family=Montserrat:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Monserrat, sans-serif;
    font-weight: 300;
    margin: 0;
    border: 0;
    padding: 0;

}

h2 {
    font-family: Molle, cursive;
}

/* header */

header {
    background-color: #fff7f3;
    padding-top: 10px;
}

.right {
    float: right;
}

#logo {
    font-family: Molle, cursive;
    color: #5c0b1d;
    font-size: 300%;
    margin-left: 20px;
    line-height: 75px;
    padding-top: 3px;
}

#logo, a {
    text-decoration: none;
}
/* nav menu */

.left {
    float: left;
}

#menu {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    text-align: left;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    border: solid 1px #5c0b1d;
    color: #5c0b1d;
    padding: 10px;
    font-weight: 400;
}

#menu li a:hover {
    background-color: #5c0b1d;
    color: #fff7f3;
}

.clear {
    clear: both;
}

/* About section */

#about {
    height: 800px;
    width: 100%;
    background-image: url('../images/pexels-tatiana-paintbrushes.jpg') no-repeat center center;
    background-size: contain;
}

#about-left {
    width: 50%;
    height: 800px;
    float: left;
    box-sizing: border-box;
}

#paintbrush {
    width: 520px;
    height: 700px;
    overflow: hidden;
    margin: 50px 0 0 50px;
}

#about-right-top {
    width: 50%;
    height: 500px;
    /*background-color: #fff7f3;*/
    float: right;
    box-sizing: border-box;
}

#about-heading {
    color: #5c0b1d;
    font-size: 350%;
    padding-top: 112px;
    text-align: center;
}

.about-p {
    color: #5c0b1d;
    width: 65%;
    height: auto;
    text-align: justify;
    margin: 0 100px;
    clear: right;
}

#about-right-bottom {
    width: 50%;
    height: 300px;
    float: right;
    /*background-color: #fff7f3;*/
    margin: 0 auto;
    box-sizing: border-box;
}

#list-heading {
    margin: 0 130px 0 120px;
    padding: 5px 0 5px 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: #5c0b1d;
    border: 3px solid #5c0b1d;
    border-bottom: none;
}

#pros-list {
    border: 3px solid #5c0b1d;
    margin: 0 130px 0 120px;
    border-top: none;
    padding: 0 0 5px 5px;
}

#pros-list li {
    margin-left: 20px;
    font-size: 120%;
    font-weight: 400;
    color: #5c0b1d;
}

/* Quote section */

#quote {
    height: 150px;
    background-color: #5c0b1d;
    margin-top: 0;
}

.text-quote {
    text-align: center;
    color: #fff7f3;
}

#the-quote {
    margin: 0 auto;
    padding-top: 40px;
    font-family: Molle, cursive;
    font-size: 300%;
}

#by-someone {
    margin: 0 auto;
    font-style: italic;
}

/* When section */

#when {
    height: 500px;
    background-color: #fff7f3;
}

#when-left {
    width: 40%;
    float: left;
}

#when-left h2 {
    font-size: 500%;
    color: #5c0b1d;
    text-align: right;
    margin: 200px 50px 0 100px;
    width: 300px;
}

#when-right {
    width: 60%;
    background-color: #fff7f3;
    float: right;
}

/* Table */

table {
    color: #5c0b1d;
    width: 75%;
    height: 350px;
    margin: 75px 0 75px 20px;
    border-collapse: collapse;
}

table, th, tr, td {
    border: 2px solid #5c0b1d;
}

td {
    text-align: center;
    padding: 3px;
}

.info {
    text-align: left;
    padding-left: 5px;
}

/* Where and Map*/

.where {
    height: 500px;
}

#where-right {
    background-color: #5c0b1d;
    width: 40%;
    height: 500px;
    margin-top: 0;
    float: right;
    box-sizing: border-box;
}

#where-right h2 {
    font-size: 250%;
    color: #fff7f3;
    margin: 170px 0 0 40px;
}

#where-right p {
    color: #fff7f3;
    font-weight: 300;
    margin-left: 40px;
}

#where-left {
    background-color: #5c0b1d;
    width: 60%;
    height: 500px;
    float: left;
    box-sizing: border-box;
}

iframe {
    border: 3px solid #5c0b1d;
    margin: 50px;
}

#map {
    width: 80%;
    height: 400px;
    border: 0;
}

/* Footer */

footer {
    height: 100px;
    background-color: #fff7f3;
    clear: both;
}

.social-media {
    font-size: 350%;
    float: right;
    margin-top: 20px;
    margin-left: 20px;
}

.social-media a {
    color: #5c0b1d;
    letter-spacing: 50px;
}

.contact {
    float: left;
    margin: 15px 0 0px 70px;
}

.contact p {
    margin-left: 10px;
    text-align: left;
    color: #5c0b1d;
}

.contact h2 {
    font-size: 150%;
    text-align: center;
    color: #5c0b1d;
}

/* gallery */

#gallery-top {
    width: 100%;
    height: 650px;
    background-color: #fff7f3;
}

#info-gallery {
    width: 50%;
    height: 250px;
    box-sizing: border-box;
    /*display: flex;
    flex-direction: column;*/
    padding-top: 200px;
    float: right;
}

#gallery-head {
    color: #5c0b1d;
    font-size: 750%;
    margin: 0 auto;
}

#gallery-text {
    color: #5c0b1d;
    font-family: Molle, cursive;
    margin: 0 auto;
    padding-left: 20px;
}

#big-img {
    width: 50%;
    height: 600px;
    box-sizing: border-box;
    padding: 5px 30px 5px 5px;
    float: left;
    /*display: flex;
    flex-direction: row-reverse;*/
}

#big-img img {
    width: 400px;
    height: 550px;
    padding: 30px 0 0 150px;
}

.gallery-section {
    height: auto;
    background-color: #fff7f3;
}

.gallery {
    /*width: 32%;
    float: left;
    margin: 5px;*/
    column-count: 3;
    width: 100%;
    height: 1100px;
    margin: 0 auto;
}

.gallery img {
    width: 300px;
    height: 500px;
    padding-left: 10px;
    object-fit: contain;
}

/*.clearfix::after {
  content: "";
  clear: both;
  display: block;
}*/

/* Sign Up form Section */
#signup {
    width: 100%;
    height: 500px;
    background-color: #fff7f3;
}

/* Heading and list */
.sign-up-left {
    width: 40%;
    height: 500px;
    color: #5c0b1d;
    margin: 0;
    float: left;
    box-sizing: border-box;
}

.sign-up-left h2 {
    font-size: 250%;
    margin-top: 0;
    text-align: center;
    padding-top: 175px;
}

.perks-list {
    margin-left: 90px;
}

.perks-list li {
    padding-top: 3px;
    margin-left: 20px;
}

/* The Sign up form */
#section-form {
    width: 60%;
    height: 500px;
    float: right;
    box-sizing: border-box;
    background-color: #fff7f3;
}

.signup-form {
    max-width: 500px;
    height: 300px;
    border: 2px solid #5c0b1d;
    padding: 30px;
    background-color: #fff7f3;
    margin: 60px 0 0 60px;
}

.signup-form h2 {
    font-size: 175%;
    text-align: center;
    padding-bottom: 10px;
    color: #5c0b1d;
}

.input-value {
    width: 100%;
    height: 30px;
    background: transparent;
    border: 1px solid #5c0b1d;
    padding: 5px;
    margin-bottom: 10px;
}

.input-value:hover {
    background: #b26f6c;
}

.signup-form label {
    color: #5c0b1d;
    font-size: 120%;
}

.button {
    font-family: Molle, cursive;
    text-decoration: none;
    border: solid 1px #5c0b1d;
    background-color: #5c0b1d;
    color: #fff7f3;
    padding: 10px;
    font-weight: 400;
    margin: 5px 0 0 217px;
}

.button:hover {
    color: #5c0b1d;
    background-color: #b26f6c;
}

/* Media queries */

/* For larger to medium screen size from 1200px and down*/

@media screen and (max-width: 1200px) {
    header {
        width: 65%;
        height: 200px;
        margin: 0 auto;
    }    

    #logo, #menu {
        width: 100%;
        float: left;
        padding-left: 5px;
    }

    #about {
        width: 65%;
        height: 1600px;
        margin: 0 auto;
    }

    #about-left {
        width: 65%;
        float: left;
        margin: 0 auto;
    } 
    
    #about-right-top, #about-right-bottom {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0 auto;
    }
   
    #quote {
        width: 65%;
        height: 200px;
        margin: 0 auto;
    }

    .text-quote {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0 auto;
    }

    #when {
        width: 65%;
        height: 400px;
        margin: 0 auto;
    }

    #when-left, #when-right {
        width: 100%;
        float: left;
        padding: 0;
    }

    .where {
        width: 65%;
        height: 1000px;
        margin: 0 auto;
    }

    #where-right, #where-left {
        width: 100%;
        float: left;
        padding: 0;
    }

    #gallery-top {
        width: 65%;
        height: 1000px;
        margin: 0 auto;
    }

    #info-gallery, #big-img {
        width: 100%;
        float: left;
        padding: 0;
    }

    .gallery-section {
        width: 65%;
        height: auto;
        float: left;
        margin: 0 auto;
    }

    .gallery {
        width: 100%;
        height: auto;
        padding: 0;
        column-count: 2;
    }

    #sign-up {
        width: 65%;
        height: 1000px;
        margin: 0 auto;
    }
    
    .sign-up-left, #section-form {
        width: 100%;
        float: left;
        padding: 0;
    }

    footer {
        width: 65%;
        height: 200px;
        margin: 0 auto;
    }

    .social-media, .contact {
        width: 100%;
        float: left;
        padding: 0;
    }

}